:root {
  --primary-shadow: rgba(40, 40, 40, 0.7);
  --primary-background: #333333; /* Dark gray background */
  --dark-gray: #666666; /* Dark gray */
  --darker-gray: #4c4c4c; /* Darker gray */
  --gray: #999999; /* Gray */
  --light-gray: #cccccc; /* Light Gray */
  --lighter-gray: #e5e5e5; /* Lighter gray */
  --light-white: #f7f7f7; /* Light Snow White */
  --accent-color: #ff6600; /* Orange theme color */
  --hover-color: #ff660080; /* Semi-transparent orange for hover effect */
}

::-moz-selection {
  color: white;
  background: var(--accent-color);
}

::selection {
  color: white;
  background: var(--accent-color);
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--primary-background);
  counter-reset: title;
}

main {
  transition: 0.3s ease-in-out;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--gray) var(--primary-background);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--primary-background);
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border: 3px solid var(--primary-background);
  border-radius: 10px;
}
